#editor-view-wrap {
  width: 400px;
  float: left;
  margin-right: 50px;
}

#editor-view {
  width: 100%;
  border-bottom: none;
  float: left;
  li {
    position: relative;
    background: rgb(245,245,245);
    border: solid 1px rgb(230,230,230);
    padding: 12px 20px;
    margin-bottom: 10px;
    &.selected {
      background: rgb(200,200,200);
      &:hover {
        background: rgb(210,210,210);
        border: solid 1px rgb(245,245,245);
      }
    }
    .image-url {
      width: 300px;
    }
    .coordinate {
      width: 40px;
    }
    .remove {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      text-decoration: none;
      font-size: 13px;
      font-weight: bold;
    }
    &:hover {
      background: rgb(240,240,240);
      border: solid 1px rgb(230,230,230);
      .remove {
        display: block;
        color: black;
      }
    }
  }
}
