#editor-view-wrap {
  width: 500px;
  float: left;
  margin: 0 50px;
}

#editor-view {
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: none;
  width: 500px;
  float: left;
  li {
    padding: 12px 20px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    &.selected {
      background: #bbb;
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;
    }
    .image-url {
      width: 300px;
    }
    .coordinate {
      width: 40px;
    }
  }
}
