#images-view {
  position: relative;
  overflow: hidden;
  cursor: crosshair;
  img {
    position: absolute;
    left: 0;
  }
  .click-zone-wrap {
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    z-index: 2;
    position: absolute;
    background: url('../images/spot.png') no-repeat center center;
  }
  .click-zone {
    position: relative; // position: relative to always go over the "pulse" animation
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #444 url(../images/spinner-444.gif) no-repeat center center;
  }
}
