#images-view {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    left: 0;
  }
}


#phone-background {
  background-repeat: no-repeat;
  margin: 50px auto;
  &.iphone4 {
    $screen-width: 320px;
    $screen-height: 480px;
    background-image: url('../images/phones/iphone4_black.jpg');
    width: 439px;
    height: 824px;
    #images-view {
      top: 129px;
      left: 57px;
      width: $screen-width;
      height: $screen-height;
    }
    .image-container img {
      width: $screen-width;
      height: $screen-height;
    }
  }
}
