@import "header";
@import "editor";
@import "phone";
@import "image";
@import "clearfix";
@import "flipper";
@import "pulse";
@import "export";
@import "buttons";
@import "forms";

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
}

#container {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
}
