@import "clearfix";
@import "flipper";
@import "pulse";

#container {
  position: relative;
  padding-top: 50px;
  #editor {
    border: solid 1px;
    bottom: 0;
    float: left;
    width: 500px;
    height: 700px;
    margin: 0 50px;
  }
  #phone-background {
    border: solid 1px;
    float: right;
  }
}

#images-view {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    left: 0;
  }
  .click-zone {
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  .loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #444 url(../images/spinner-444.gif) no-repeat center center;
  }
}


#phone-background {
  background-repeat: no-repeat;
  &.iphone4 {
    $screen-width: 320px;
    $screen-height: 480px;
    background-image: url('../images/phones/iphone4_black.jpg');
    width: 439px;
    height: 824px;
    #images-view {
      top: 129px;
      left: 57px;
      width: $screen-width;
      height: $screen-height;
    }
    .image-container img {
      z-index: 1;
      width: $screen-width;
      height: $screen-height;
    }
  }
}
